{{#if (eq navSelection IndexNavItems.interests)}}
  
  <section class={{contentSectionClass}}>
    <h2 class="content-section__title">Virtual and Augmented Reality</h2>
    <div class="content-section__body">
      {{partial "components/index/partials/virtual-reality"}}
    </div>
  </section>

  <section class={{contentSectionClass}}>
    <h2 class="content-section__title">Artificial Intelligence</h2>
    <div class="content-section__body">
      {{partial "components/index/partials/artificial-intelligence"}}
    </div>
  </section>

  <section class={{contentSectionClass}}>
    <h2 class="content-section__title">Game Development</h2>
    <div class="content-section__body">
      {{partial "components/index/partials/game-dev"}}
    </div>
  </section>

{{else if (eq navSelection IndexNavItems.misc)}}
  <section class={{contentSectionClass}}>
    <h2 class="content-section__title">In Progress</h2>
  </section>
{{else}}
  
  <section class={{contentSectionClass}}>
    <h2 class="content-section__title">Summary About Me</h2>
    <div class="content-section__body">
      {{partial "components/index/partials/summary-content"}}
    </div>
  </section>

  {{index/content-skills
    class=contentSectionClass}}

  {{index/content-learning
    class=contentSectionClass}}

{{/if}}

<section class="index-disclaimer">
  <p>This website is a work in progress. You can find the code for it on
    <a href="https://github.com/cptran777/portfolio-dx20" target="_blank">Github</a>.
  </p>
</section>