{{#if (eq navSelection IndexNavItems.interests)}}
  
  {{#each interestTabContent as |section|}}
    {{#content-section
      class=contentSectionClass
      title=section.title}}
      {{partial section.partial}}
    {{/content-section}}
  {{/each}}

{{else if (eq navSelection IndexNavItems.misc)}}
  <section class={{contentSectionClass}}>
    <h2 class="content-section__title">In Progress</h2>
  </section>
{{else}}

  {{#content-section
    class=contentSectionClass
    title="Summary About Me"}}
    {{partial "components/index/partials/summary-content"}}
  {{/content-section}}

  {{index/content-skills
    class=contentSectionClass}}

  {{index/content-learning
    class=contentSectionClass}}

{{/if}}

<section class="index-disclaimer">
  <p>This website is a work in progress. You can find the code for it on
    <a href="https://github.com/cptran777/portfolio-dx20" target="_blank">Github</a>.
  </p>
</section>