{{#if isDesktop}}
  <h1 class="content-container__title">
    Avalon
  </h1>
{{/if}}

<section class="content-container--flex">
  <img alt="avalon-title-img" src={{concat imageRoot "project-avalon.png"}} class="content-container__title-img" />
</section>

{{#content-section
  class=contentSectionClass
  title="Description"}}
  {{partial "components/portfolio/partials/avalon-description"}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  customBodyClass="content-section--flex"
  title="Tech Stack"}}
  {{#each techStack as |stack|}}
    <div class="content-skill">
      <img alt={{stack.name}} src={{stack.asset}} class="content-skill__img"/>
    </div>
  {{/each}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Technical Details"}}
  {{partial "components/portfolio/partials/avalon-technical-details"}}
{{/content-section}}

{{#content-section
  class=contentSectionClass
  customBodyClass="content-section--flex"
  title="Gallery"}}
  <img alt="avalon-gallery-1" src="/assets/images/project-avalon-gal-1.png" class="content-gallery__img" />
  <img alt="avalon-gallery-2" src="/assets/images/project-avalon-gal-2.png" class="content-gallery__img" />
{{/content-section}}

{{#content-section
  class=contentSectionClass
  title="Github"}}
  <div class="content-container--flex">
    <a href="https://github.com/CapriciousSmash/avalon-game" target="_blank">
      https://github.com/CapriciousSmash/avalon-game
    </a>
  </div>
{{/content-section}}
