{{#if isDesktop}}
  {{#unless isLaptop}}
    <i class="fa {{if isExpanded "fa-angle-double-left" "fa-angle-double-right"}} fa-2x toggle-menu" 
    aria-hidden="true" 
    {{action "onToggleExpanded"}}>
    </i>
  {{/unless}}
  <section class="brand-logo">
    {{#link-to "index"}}
      <img class="brand-logo__img" src={{assets.profileIcon}} />
    {{/link-to}}
  </section>

  {{#if isExpanded}}

    <section class="profile-background">
      {{#link-to "index"}}
        <img class="profile-background__img" src={{assets.profileImage}} alt="Profile Image"/>
      {{/link-to}}
    </section>

    <section class="profile-title">
      <h1 class="profile-title__name">C h a r l i e . T r a n</h1>
      <h3 class="profile-title__title">Software Engineer</h3>
    </section>

    <section class="profile-icons">
      <a href="https://www.linkedin.com/in/charlie-tran" class="profile-icon" target="_blank">
        <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/cptran777" class="profile-icon" target="_blank">
        <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
      </a>
    </section>

    <section class="profile-links">
      {{#each navItems as |navLink|}}
        {{#link-to navLink.link class="profile-links__link"}}
          <button 
           class="profile-links__link__btn {{if navLink.isActive "profile-links__link__btn--active"}}">
            {{navLink.title}} 
          </button>
        {{/link-to}}
      {{/each}}

      <div id="profile-nav" class="col-xs-12 col-sm-12 col-md-12">
        <nav id="app-navigation" class="row">
          {{#each linkedList as |link|}}
          <div class="col-xs-12 col-sm-12 col-md-12 nav-link {{if link.selected " selected "}}" {{action "onNewRoute" link.val}}>
            {{link.message}}
          </div>
          {{/each}}
        </nav>
      </div>
    </section>

  {{else}}

    <section class="nav-icons">
      <a href="https://www.linkedin.com/in/charlie-tran" class="nav-icons__icon-link" target="_blank">
        <i class="fa fa-linkedin-square fa-4x nav-icons__icon" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/cptran777" class="nav-icons__icon-link" target="_blank">
        <i class="fa fa-github-square fa-4x nav-icons__icon" aria-hidden="true"></i>
      </a>
      {{#link-to "portfolio" class="nav-icons__icon-link"}}
        <i class="fa fa-laptop fa-4x nav-icons__icon" aria-hidden="true"></i>
      {{/link-to}}
      {{#link-to "interests" class="nav-icons__icon-link"}}
        <i class="fa fa-gamepad fa-4x nav-icons__icon" aria-hidden="true"></i>
      {{/link-to}}
    </section>

  {{/if}}

{{else}}
  This is not a desktop
{{/if}}
